body {
    font-family: "Segoe UI", "Lucida grande", "Helvetica", "Comic Sans";
    background: #EAEAEA;
}
.website {
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
}
.search input{
    padding: 20px 0 20px 20px;
    font-size: 20px;
}
.website .glyphicon-picture:before {
    font-size: 45px;
}
.website .details .separator {
    margin: -10px 10px;
    font-size: 24px;
}
.website .details p {
    font-size: 16px;
}
.like {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 55px;
    background: #ccc;
    height: 100%;
    border-radius: 0 5px 5px 0;
    text-align: center;
    padding: 30px 0 0 0;
}
.like.active {
    color: green;
}
.new-listing {
    background: #fff;
    border: 1px solid #ccc;
    padding: 50px;
}
.new-listing .form-control {
    margin: 15px 0;
    padding: 5px;
    box-sizing: content-box;
}
.details .row span:last-child, .details .row a:last-child {
    float: left;
    margin: 0 0 0 10px;
}
.details .glyphicon:not(.glyphicon-thumbs-up) {
    float: left;
    margin: 3px 0 0 0;
}
.btn-container {
    position: relative;
}
.loader,
.loader:before,
.loader:after {
  background: #fff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader {
    color: #fff;
    text-indent: -9999em;
    position: absolute;
    font-size: 3px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    top: 43%;
    right: 25%;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
.alert {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    text-align: center;
}