body {
    font-family: "Segoe UI", "Lucida grande", "Helvetica", "Comic Sans";
    background: #EAEAEA;
}
.website {
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
}
.search input{
    padding: 20px 0 20px 20px;
    font-size: 20px;
}
.website .glyphicon-picture:before {
    font-size: 45px;
}
.website .details .separator {
    margin: -10px 10px;
    font-size: 24px;
}
.like {
    cursor: pointer;
}
.like.active {
    color: green;
}
.new-listing {
    background: #fff;
    border: 1px solid #ccc;
    padding: 50px;
}
.new-listing .form-control {
    margin: 15px 0;
}